<header class="header">

  <div class="header-container">

    <!-- Logo -->
    <div class="logo" routerLink="/dashboard">
      <img src="assets/img/thursday logo png.png" alt="logo">
    </div>

    <!-- Desktop nav -->
    <nav class="desktop-nav">
      <a routerLink="/dashboard">Dashboard</a>
      <a routerLink="/banner">Banner</a>
      <a routerLink="/orders">Orders</a>
      <a routerLink="/products">Products</a>
      <a routerLink="/category">Category</a>
      <a routerLink="/main-category">Main Category</a>
         <!-- 🔔 Notification Bell -->
      <div class="notification-wrapper">

        <div class="bell" (click)="toggleNotification()">
          🔔
          <span class="badge" *ngIf="unreadCount > 0">
            {{ unreadCount }}
          </span>
        </div>

        <div class="dropdown" *ngIf="showDropdown">
          <div *ngIf="notifications.length === 0" class="item">
            No notifications
          </div>

          <div *ngFor="let n of notifications" class="item">
            <strong>{{ n.title }}</strong>
            <p>{{ n.message }}</p>
            <small>{{ n.created_at | date:'short' }}</small>
          </div>
        </div>

      </div>
      <button class="logout-btn" (click)="logout()">Logout</button>
    </nav>

    <!-- Hamburger -->
    <div class="menu-icon" (click)="toggleMenu()">☰</div>

  </div>

  <!-- Mobile nav -->
  <div class="mobile-nav" [class.open]="isMenuOpen">

    <a routerLink="/dashboard" (click)="closeMenu()">Dashboard</a>
    <a routerLink="/banner" (click)="closeMenu()">Banner</a>
    <a routerLink="/orders" (click)="closeMenu()">Orders</a>
    <a routerLink="/products" (click)="closeMenu()">Products</a>
    <a routerLink="/category" (click)="closeMenu()">Category</a>
    <a routerLink="/main-category" (click)="closeMenu()">Main Category</a>

    <button class="logout-btn" (click)="logout()">Logout</button>

  </div>

</header>
