<div class="products-container">
  <div class="products-card">
    <!-- TOP BAR -->
    <div class="products-top-bar">
      <h2>Products</h2>

      <input
        class="search-box"
        placeholder="Search product..."
        [(ngModel)]="searchText"
        (input)="applyFilter()"
      />

      <button class="btn add" (click)="openAddModal()">+ Add Product</button>
    </div>

    <!-- TABLE -->
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Image</th>

            <th>Name</th>
            <th>Main Category</th>
            <th>Category</th>
            <th>Price</th>
            <th>Earn %</th>
            <th>Redeem %</th>
            <th>Popular</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let p of filteredProducts; trackBy: trackById">
            <td>
              <img
                [src]="getImageUrl(p.image)"
                alt="Product Image"
                class="product-img"
                height="20px"
                ,
                width="30px"
              />
            </td>
            <td>{{ p.name }}</td>
            <td>{{ p.mainCategoryName }}</td>
            <td>{{ p.categoryName }}</td>
            <td>₹{{ p.price }}</td>
            <td>{{ p.earnPercent }}%</td>
            <td>{{ p.redeemPercent }}%</td>
            <td>
              <span class="badge" [class.yes]="p.isPopular" [class.no]="!p.isPopular">
                {{ p.isPopular ? 'Yes' : 'No' }}
              </span>
            </td>
            <td>
              <button type="button" class="btn edit" (click)="handleEditClick(p.id)">Edit</button>

              <button type="button" class="btn delete" (click)="handleDeleteClick(p.id)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- ADD MODAL -->
<div class="modal-overlay" *ngIf="showAddModal">
  <div class="modal-card">
    <h3>Add Product</h3>

    <input [(ngModel)]="newProduct.name" placeholder="Product Name" />

    <select [(ngModel)]="newProduct.category_id">
      <option value="">Select Category</option>
      <option *ngFor="let c of categories" [value]="c.category_id">
        {{ c.category_name }}
      </option>
    </select>

    <textarea [(ngModel)]="newProduct.description" placeholder="Product Description"></textarea>

    <input type="number" [(ngModel)]="newProduct.price" placeholder="Price" />

    <div class="popular-row">
      <label>
        <input type="radio" [value]="1" [(ngModel)]="newProduct.is_popular" name="pop" />
        Yes
      </label>

      <label>
        <input type="radio" [value]="0" [(ngModel)]="newProduct.is_popular" name="pop" />
        No
      </label>
    </div>

    <input type="file" (change)="onImageChange($event, 'add')" />

    <div class="modal-footer">
      <button class="btn save" (click)="addProduct()">Save</button>
      <button class="btn cancel" (click)="closeAddModal()">Cancel</button>
    </div>
  </div>
</div>

<!-- EDIT MODAL -->
<div class="modal-overlay" *ngIf="showEditModal">
  <div class="modal-card">
    <h3>Edit Product</h3>

    <input [(ngModel)]="editProduct.name" />

    <select [(ngModel)]="editProduct.category_id">
      <option *ngFor="let c of categories" [ngValue]="c.category_id">
        {{ c.category_name }}
      </option>
    </select>
    <textarea [(ngModel)]="editProduct.description"></textarea>

    <input type="number" [(ngModel)]="editProduct.price" />

    <div class="popular-row">
      <label>
        <input type="radio" [value]="1" [(ngModel)]="editProduct.is_popular" name="popEdit" />
        Yes
      </label>

      <label>
        <input type="radio" [value]="0" [(ngModel)]="editProduct.is_popular" name="popEdit" />
        No
      </label>
    </div>

    <input type="file" (change)="onImageChange($event, 'edit')" />

    <div class="modal-footer">
      <button class="btn save" (click)="updateProduct()">Update</button>
      <button class="btn cancel" (click)="closeEditModal()">Cancel</button>
    </div>
  </div>
</div>
