<div class="products-container">
  <div class="products-card">
    <!-- TOP BAR -->
    <div class="products-top-bar">
      <div>
        <h2>☕ Products</h2>
      </div>

      <div class="actions-section">
        <mat-form-field appearance="outline" class="search-field">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" />
        </mat-form-field>

        <button class="btn add" (click)="openAddModal()">+ Add Product</button>
      </div>
    </div>

    <!-- TABLE -->
    <div class="table-wrapper">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- IMAGE -->
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef>Image</th>
          <td mat-cell *matCellDef="let p">
            <img [src]="getImageUrl(p.image)" class="product-img" />
          </td>
        </ng-container>

        <!-- NAME -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let p">{{ p.name }}</td>
        </ng-container>

        <!-- MAIN CATEGORY -->
        <ng-container matColumnDef="mainCategoryName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Main Category</th>
          <td mat-cell *matCellDef="let p">{{ p.mainCategoryName }}</td>
        </ng-container>

        <!-- CATEGORY -->
        <ng-container matColumnDef="categoryName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
          <td mat-cell *matCellDef="let p">{{ p.categoryName }}</td>
        </ng-container>

        <!-- PRICE -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
          <td mat-cell *matCellDef="let p">₹{{ p.price }}</td>
        </ng-container>

        <!-- EARN -->
        <ng-container matColumnDef="earnPercent">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Earn %</th>
          <td mat-cell *matCellDef="let p">{{ p.earnPercent }}%</td>
        </ng-container>

        <!-- REDEEM -->
        <ng-container matColumnDef="redeemPercent">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Redeem %</th>
          <td mat-cell *matCellDef="let p">{{ p.redeemPercent }}%</td>
        </ng-container>
        <!-- FOOD TYPE -->
        <ng-container matColumnDef="foodType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Food Type</th>

          <td mat-cell *matCellDef="let p">
            <span
              class="badge"
              [class.veg]="p.foodType === 'Veg'"
              [class.nonveg]="p.foodType === 'Non-Veg'"
            >
              {{ p.foodType }}
            </span>
          </td>
        </ng-container>

        <!-- POPULAR -->
        <ng-container matColumnDef="isPopular">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Popular</th>
          <td mat-cell *matCellDef="let p">
            <span class="badge" [class.popular]="p.isPopular === 'Yes'">
              {{ p.isPopular }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>

          <td mat-cell *matCellDef="let p">
            <button
              class="status-btn"
              [ngClass]="p.status == 1 ? 'active' : 'inactive'"
              (click)="toggleStatus(p)"
              [disabled]="p.loading"
            >
              {{p.loading ? 'Updating...' : (p.status==1 ? 'Active':'Inactive')}}
            </button>
          </td>
        </ng-container>

        <!-- ACTION -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let p">
            <button class="btn edit" (click)="handleEditClick(p.id)">Edit</button>
            <button class="btn delete" (click)="openDeleteModal(p)">Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"> </mat-paginator>
    </div>
  </div>
</div>

<!-- ================= ADD MODAL ================= -->

<div class="modal-overlay" *ngIf="showAddModal">
  <div class="modal-card">
    <h3>Add Product</h3>

    <input [(ngModel)]="newProduct.name" placeholder="Product Name" />

    <select [(ngModel)]="newProduct.category_id">
      <option value="">Select Category</option>
      <option *ngFor="let c of categories" [value]="c.category_id">
        {{ c.category_name }}
      </option>
    </select>

    <textarea [(ngModel)]="newProduct.description" placeholder="Description"></textarea>

    <input type="number" [(ngModel)]="newProduct.price" placeholder="Price" />

    <!-- FOOD TYPE -->
    <label class="radio-title">Food Type</label>
    <div class="food-type-row">
      <label>
        <input type="radio" value="veg" [(ngModel)]="newProduct.food_type" name="foodAdd" />
        Veg
      </label>

      <label>
        <input type="radio" value="nonveg" [(ngModel)]="newProduct.food_type" name="foodAdd" />
        Non-Veg
      </label>
    </div>
    <label class="radio-title">Is Popular</label>

    <div class="popular-row">
      <label>
        <input type="radio" [value]="1" [(ngModel)]="newProduct.is_popular" name="pop" />
        Yes
      </label>

      <label>
        <input type="radio" [value]="0" [(ngModel)]="newProduct.is_popular" name="pop" />
        No
      </label>
    </div>

    <input type="file" (change)="onImageChange($event, 'add')" />

    <div class="modal-footer">
      <button class="btn save" (click)="addProduct()">Save</button>
      <button class="btn cancel" (click)="closeAddModal()">Cancel</button>
    </div>
  </div>
</div>

<!-- ================= EDIT MODAL ================= -->

<div class="modal-overlay" *ngIf="showEditModal">
  <div class="modal-card">
    <h3>Edit Product</h3>

    <input [(ngModel)]="editProduct.name" />

    <select [(ngModel)]="editProduct.category_id">
      <option *ngFor="let c of categories" [value]="c.category_id">
        {{ c.category_name }}
      </option>
    </select>

    <textarea [(ngModel)]="editProduct.description"></textarea>

    <input type="number" [(ngModel)]="editProduct.price" />
    <!-- FOOD TYPE -->
    <label class="radio-title">Food Type</label>
    <div class="food-type-row">
      <label>
        <input type="radio" value="veg" [(ngModel)]="editProduct.food_type" name="foodEdit" />
        Veg
      </label>

      <label>
        <input type="radio" value="nonveg" [(ngModel)]="editProduct.food_type" name="foodEdit" />
        Non-Veg
      </label>
    </div>
    <label class="radio-title">Is Popular</label>
    <div class="popular-row">
      <label>
        <input type="radio" [value]="1" [(ngModel)]="editProduct.is_popular" name="popEdit" />
        Yes
      </label>

      <label>
        <input type="radio" [value]="0" [(ngModel)]="editProduct.is_popular" name="popEdit" />
        No
      </label>
    </div>

    <input type="file" (change)="onImageChange($event, 'edit')" />

    <div class="modal-footer">
      <button class="btn save" (click)="updateProduct()">Update</button>
      <button class="btn cancel" (click)="closeEditModal()">Cancel</button>
    </div>
  </div>
</div>

<!-- ================= DELETE MODAL ================= -->

<div class="modal-overlay" *ngIf="showDeleteModal">
  <div class="modal-card small">
    <h3>Delete Product</h3>
    <p>
      Delete <b>{{ productToDelete?.name }}</b
      >?
    </p>

    <div class="modal-footer">
      <button class="btn delete" (click)="deleteProduct()">Delete</button>
      <button class="btn cancel" (click)="closeDeleteModal()">Cancel</button>
    </div>
  </div>
</div>
